.bg--root {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.main {
  margin: 0 auto 0 auto; 
  max-width: 100vw;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "content"
  ;
  padding: 0 1em 1em;
}

@media(min-width: 50em) {
  .main {
    max-width: 40vw;
  }
}

.align--right {
  text-align: right;
}

.slogan {
  text-shadow: 2px 2px #fff; 
  text-indent:0; 
  font-size:2em;
}

.bg--city {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%) 
  ;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: .35em;
  border-top-right-radius: .35em;
}

.image--wrap{
  background-color: #fff; 
  border-radius: .24em; 
  padding:.25em; 
  box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
}

.app__box {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.hide {
  display: none;
}

.app__toolbar {
  display: flex;
}

.app__title {
  flex: 1;
}
